/* @media only screen and (min-width: 768px) {
  .acount-section {
    width: 100%;
    max-width: ;
    flex-direction: row;
  }
} */

@media (max-width: 1185px) {
  html {
    font-size: 50%;
  }
} 

@media (max-width: 1083px) {
  html {
    font-size: 40%;
  }
} 

/* @media (max-width: 425px) {
  html {
    font-size: 35%;
  }
}  */

@media (max-width: 768px) {
  header .menu {
    display: none;
    
  }
  .glider-contain {
    display: block;
  }
  header .menu-mobile { display: block;}
  .hero-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .hero-section .card-left a {
    display: none;
    position: absolute;
  }
  .hero-section .card-right a {
    display: inline-block;
    top: -720px;
    margin-bottom: 30px;
    max-width: 400px;
    width: 100%;
  }

  .hero-section .card-right .btn {
    width: 250px;
    height: 44px;
  }

  .investments-section .card-content {
    display: none;
  }

  .feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .feature-section .container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .quote-section {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .acount-section {
    width: 100%;
    flex-direction:column;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer .sobre {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


@media (max-width: 320px) {
  
  html {
    font-size: 15%;
  }
  .hero-section .card-left {
    text-align: left;
    
  }
  
  p {
    font-size: 2.6rem;
  }
 
  .glider-contain .card-container h2  {
    font-size: 5rem;
  }
  .glider-contain .card-container p  {
    font-size: 5rem;
  }
  .glider-contain .card-container .btn {
    width: 120px;
  } 
  .acount-section .acount-card-right p {
    font-size: 5rem;
  }
  .acount-section .acount-card-left label {
    font-size: 3rem;
  }
 
  .footer .sobre h2 {
    text-align: left;
    margin-bottom: 15px;
  }
  .footer h2 {
    font-size: 3.6rem;
  }
  .footer p {
    text-align: left;
  }

} 
@media (max-width: 375px) {
  html {
    font-size: 25%;
  }
  .hero-section {
    
  }
  .glider-contain .card-container h2  {
    font-size: 5rem;
  }
  .glider-contain .card-container p  {
    font-size: 5rem;
  }
  .glider-contain .card-container .btn {
    width: 120px;
  }  

} 
@media (max-width: 425px) {
  html {
    font-size: 25%;
  }
  .hero-section {
    
  }
  .glider-contain .card-container h2  {
    font-size: 5rem;
  }
  .glider-contain .card-container p  {
    font-size: 5rem;
  }
  .glider-contain .card-container .btn {
    width: 120px;
  }  

} 